<!DOCTYPE html>
<html>
    <head>
        <title>
            Upload IP Address
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Check if an IP is suspicious</h1>
            <div class="checkIP">
                <form method="POST" action="/upload">
                    <label for="ip"> Enter the IP Address:</label>
                    <input type="text" name="ipAddress" required>
                    <button type="submit">Check VPN</button>
                </form>
            </div>
            {% if result %}
                <p><strong>Result:</strong> {{result}}</p>
            {% endif %}
        </div>
    </body>
</html>